body {
    font-family: 'Bradley Hand ITC', sans-serif;
    color: #f2f2f2;
    background-color: #19181a;
    letter-spacing: 5px;
    margin-left: 5vw;
    margin-right: 5vw;
    overflow-y: hidden;
    overflow-x: hidden;


}

/* width */
::-webkit-scrollbar {
    visibility: hidden
}


.box {
    /*padding-top: 120%;*/
    margin: auto;
    text-align-last: center;
    padding-top: 25vh;
    padding-bottom: 25vh;


}

.box div {
    margin: auto;

}

.box .name {
    font-size: 20vw;
}

.box .artefact a, .philosophy a {
    font-size: 1.5vw;
    color: #f2f2f2;

}

.box small {
    font-size: 14vw;
    margin-left: -1vw;
    margin-right: -3vw;

}


.button-success,
.button-error {
    border-radius: 40px;
    padding: 1vw;
    text-shadow: 0 1px 1px #f2f2f2;


}

.button-success {


}

.button-success:hover {
    opacity: 0.8;
    box-shadow: 0 0 25px 6px #f2f2f2;
    cursor: pointer;
}

.button-error:hover {
    box-shadow: 0 0 25px 6px #f2f2f2;
}

.box-text {
    width: 65vw;
    height: 100vh;
    margin: 25vh auto;
    text-align: center;
    letter-spacing: 0.4vw;
    font-size: 3vh;
    line-height: 100px;
    text-shadow: 0 1px 1px #f2f2f2;
    overflow: auto;
    display: none;
    opacity: 0;
}


@media screen and (max-width: 1200px) {
    .box {
    }
}

@media screen and (max-width: 789px) {
    .box {
    }
}


#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #f2f2f2;
    color: #19181a;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}

#back2Top:hover {
    opacity: 0.6;
}

