<div class="form-box" id="artefact">

    <div class="forms">

        <h2>Join us Now!</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label>
                <input class="form-control" type="text">
            </label>
            <label>
                <input class="form-control" type="text">
            </label>
            <label>
                <textarea class="textarea"></textarea>
            </label>
            <label>
                <input class="form-control" type="checkbox">
            </label>
            <label>
                <input class="form-control" type="checkbox">
            </label>
            <button class="button-success button" type="submit">Order</button>
        </form>
    </div>
</div>