{% extends 'common/site.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">{% endblock %}
{% block title %}LOIVE{% endblock %}

{% block site_content %}
    <div class="content">
        <br>
        {% include 'form.html' %}
        <br>
        <div class="box" id="box">
            <div class="artefact"><a onclick="scrollFunction('#artefact')" class="button-success">THE
                ARTEFACT</a></div>
            <div class="name"><a>LO<small>I</small>VE</a></div>
            <div class="philosophy"><a onclick="scrollFunction('#philosophy-content')"
                                       class="button-success">THE PHILOSOPHY</a></div>
        </div>
        <a id="back2Top" title="Back to top" href="#">&#10148;</a>
        {% include 'philosophy.html' %}
    </div>

{% endblock %}