<div class="box-text" id="philosophy-content">
    <div>
        <h3>LOlVE</h3>
        <p>The emotion resonating behind the illuminated LOlVE

            is about finding the LOVE

            when being ALONE

            THAT universal LOVE that becomes

            ALL so more apparent and APPEALING

            tapping YOU into the natural FLOW

            and tuning YOU with ONENESS.

            Then if it feels right

            taking it with YOU

            within the CHAOTIC human realm

            of striving toward achievement and SATISFACTION.
            That is the mark.
        </p>
        <h4>That is being LOVELONE.</h4>

    </div>
</div>